# OSX
.DS_Store

# Library
node_modules
dist

# Output of 'npm pack'
*.tgz

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Caches
.npm
.eslintcache
.node_repl_history
.yarn-integrity
.cache

# dotenv environment variables file
.env
.env.test
